<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Statistics</h1>
			<ul class="breadcrumb">
        <li><a href="\">Home</a></li>
        <li><a href="">Statistics</a></li>
		<li><a href="\statistic\courier">Courier Statistics</a></li>
      </ul>
		</div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> Statistics of Courier </h3>
    </div>
    <div class="panel-body">
			<form class="" action="courier" method="post" name="statisticsForm" onsubmit="return validateForm()">
				<div class="form-inline statistic-selector">
						<div class="form-inline col-xs-4">
							<label class="select">
								<select class="" name="courierId" required>
									<option value="" disabled>Select Courier Name</option>
									{{#each couriers}}
										<option value="{{this.id}}" {{#if ../courierIdRaw}}{{#equal this.id ../courierIdRaw}} selected{{/equal}}{{/if}}> {{this.name}} </option>
									{{/each}}
								</select>
							</label>
							<label class="select">
								<select class="" name="taskStatus" required>
									<option value="" disabled> Select Task Status</option>
									<option value="not done" {{#if taskStatusRaw}}{{#equal "no done" taskStatusRaw}} selected{{/equal}}{{/if}}> not done </option>
									<option value="ongoing" {{#if taskStatusRaw}}{{#equal "ongoing" taskStatusRaw}} selected{{/equal}}{{/if}}> ongoing </option>
									<option value="succeed" {{#if taskStatusRaw}}{{#equal "succeed" taskStatusRaw}} selected{{/equal}}{{/if}}> succeed </option>
									<option value="failed"  {{#if taskStatusRaw}}{{#equal "failed" taskStatusRaw}} selected{{/equal}}{{/if}}> failed </option>
								</select>
							</label>
							<label class="select">
								<select class="" name="viewBasis" required>
									<option value="" disabled>view</option>
									<option value="daily" {{#if taskStatusRaw}}{{#equal "daily" viewBasisRaw}} selected{{/equal}}{{/if}}> daily </option>
									<option value="monthly" {{#if taskStatusRaw}}{{#equal "monthly" viewBasisRaw}} selected{{/equal}}{{/if}}> monthly </option>
									<option value="yearly" {{#if taskStatusRaw}}{{#equal "yearly" viewBasisRaw}} selected{{/equal}}{{/if}}> yearly </option>
								</select>
							</label>
						</div>
						<div class="datetime form-inline col-xs-3 text-right">
							<input type="text" name="startDate" value="" placeholder="Start Date" data-date-format="YYYY-MM-DD HH:mm:ss" readonly="true"/ required>
							<span>
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span>
						</div>
						<div class="datetime form-inline col-xs-3">
							<input type="text" name="endDate" value="" placeholder="End Date" data-date-format="YYYY-MM-DD HH:mm:ss" readonly="true"/ required>
							<span>
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span>
						</div>
				</div>
				<input class="btn btn-primary" type="submit" value="Submit">
			</form>

		<div class="chartWrapper">
			<div class="chartAreaWrapper">
					<canvas id="myChart" height="200" width="400"></canvas>
			</div>
		</div>
  </div>

</div>

{{#if data}}
<script type="text/javascript">
	var ctx = document.getElementById("myChart");
	var labels = "{{label}}".split(",");
	var content = [{{data}}];
	var data = {
    labels: labels,
    datasets: [
        {
            label: "{{titleLable}}",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: content,
            spanGaps: false,
        }
    ]
	};
	var myChart = new Chart(ctx, {
	type: 'line',
	data: data,
	options: {
			scales: {
					yAxes: [{
							ticks: {
									beginAtZero:true
							}
					}]
			}
	}
	});

</script>
{{/if}}
<script type="text/javascript">
function validateForm(){
	var courierId = document.forms["statisticsForm"]["courierId"].value;
	var taskStatus = document.forms["statisticsForm"]["taskStatus"].value;
	var viewBasis = document.forms["statisticsForm"]["viewBasis"].value;
	var startDate = document.forms["statisticsForm"]["startDate"].value;
	var endDate = document.forms["statisticsForm"]["endDate"].value;
	if (courierId && taskStatus && viewBasis && startDate && endDate) {
		if (new Date(endDate) < new Date(startDate)) {
			alert("Range Date Salah!");
			return false;
		}
		else{
			return true;
		}
	}
	else {
		alert("Silahkan  mengisi semua field!");
		return false;
	}
}
</script>
