<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
{{# if errorMessage}}
	<script type="text/javascript">
		x0p('{{ errorMessageNumber }}',
        '{{ errorMessage }}',
        'error', false);
	</script>
{{/if}}
<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{title}}</h1>
			<ul class="breadcrumb">
                <li><a href="\">Home</a></li>
                <li><a href="\couriers">Couriers</a></li>
             </ul>
		</div>
	</div>
	<div class="container-fluid">
        <div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> Input Courier's Data</h3>
		    </div>
		    <div class="panel-body">
		    	{{# if success}}
		    		<section class="success">
		    			<h2>Successsful validation</h2>
		    		</section>>
		    	{{ else }}
		    		{{# if errors}}
		    			<script type="text/javascript">
		    				x0p('Error',
						        'Incorect input',
						        'error', false);
		    			</script>
		    		{{/if}}
		    	{{/if}}
		    	<form class="form-horizontal" method="post" action="{{ action }}{{#each couriers}}{{ this.id}}{{/each}}">
			    	<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="input-destination">
							Name
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="name" value="{{#if couriers}}{{#each couriers}}{{ this.name}}{{/each}}{{else}}{{# if name}}{{ name }}{{/if}}{{/if}}" placeholder="Name" id="input-destination" class="form-control {{# if errors}}
					    			{{# each errors}}
					    				{{#equal this.param 'name'}}
										 	noInput
										{{/equal}}
					    			{{/each}}
					    		{{/if}}">
	              			{{# if errors}}
				    			{{# each errors}}
				    				{{#equal this.param 'name'}}
									 	<div class="text-danger">{{ this.msg }}</div>
									{{/equal}}
				    			{{/each}}
				    		{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="input-phone">
							Phone Number
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="phone" value="{{#if couriers}}{{#each couriers}}{{ this.phone}}{{/each}}{{else}}{{# if phone}}{{ phone }}{{/if}}{{/if}}" placeholder="Phone number" id="input-phone" class="form-control {{# if errors}}
					    			{{# each errors}}
					    				{{#equal this.param 'phone'}}
										 	noInput
										{{/equal}}
					    			{{/each}}
					    		{{/if}}">
		              		{{# if errors}}
				    			{{# each errors}}
				    				{{#equal this.param 'phone'}}
									 	<div class="text-danger">{{ this.msg }}</div>
									{{/equal}}
				    			{{/each}}
				    		{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="input-region">
							Region
						</label>
		            	<div class="col-sm-4">
		              		<select type="text" name="region" id="input-region" class="form-control {{#if errors}}{{#each errors}}{{#equal this.param 'region' }}noInput{{/equal}}{{/each}}{{/if}}">
		              			<option value="">-- Select Region --</option>
		              			{{#each regions}}	
		              			  <option value="{{this.region}}" {{#if ../couriers}}{{#each ../couriers}}{{#equal this.region ../this.region}}selected{{/equal}}{{/each}}{{else}}{{#equal this.region ../region}}selected{{/equal}}{{/if}}>{{this.region}}</option>
		              			{{/each}}
		              		</select>
		              		{{#if errors}}{{#each errors}}{{#equal this.param 'region'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="col-sm-5">
			          <div class="pull-right">
			            <input type="button" value="{{ button }}" class="btn btn-primary createButton">
			          </div>
			        </div>
          		</form>
		    </div>
		</div>
	</div>
</div>
