<!-- Alert Popup script -->
<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
{{# if error}}
	<script type="text/javascript">
		x0p('Error',
	        'Incorect input',
	        'error', false);
	</script>
{{/if}}
<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{title}}</h1>
			<ul class="breadcrumb">
                <li><a href="{{actionForm}}">Home</a></li>
                <li><a href="{{actionForm}}">{{title}}</a></li>
             </ul>
		</div>
	</div>
	<div class="container-fluid">
        <div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> Input Form</h3>
		    </div>
		    <div class="panel-body">
		    	<form class="form-horizontal" id="form-task" action={{actionForm}} method="post">
			    	<div class="form-group required">
	            		<label class="col-sm-1 col-sm-offset-3 control-label" for="name">
							Task Name
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="name" value="{{name}}" placeholder="Task Name" id="name" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'name' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'name'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 col-sm-offset-3 control-label" for="description">
							Task Description
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="description" value="{{description}}" placeholder="Task description" id="description" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'description' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'description'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 col-sm-offset-3 control-label" for="address">
							Address
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="address" value="{{address}}" placeholder="Task address" id="address" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'address' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'address'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div id="map"></div>
	          		<input name="latitude" type="hidden" id="latitude" value="{{latitude}}">
	          		<input name="longitude" type="hidden" id="longitude" value="{{longitude}}">
	          		<br>
	          		<div class="form-group required">
	            		<label class="col-sm-1 col-sm-offset-3 control-label" for="region">
							Region
						</label>
		            	<div class="col-sm-4">
		              		<select name="region" id="region" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'region' }}noInput{{/equal}}{{/each}}{{/if}}">
		              			<option value="">-- Select region --</option>
		              			{{#each regions}}
		              			  <option value="{{this.region}}" {{#equal this.region ../region}}selected{{/equal}}>{{this.region}}</option>
		              			{{/each}}
		              		</select>
		              		{{#if error}}{{#each error}}{{#equal this.param 'region'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		{{#if deadline}}
		          		<script type="text/javascript">
							$(document).ready(function() {
								var deadline = new Date("{{deadline}}");
								$('#deadline').val(deadline.getFullYear() + "-" + ('0' + (deadline.getMonth() + 1)).slice(-2) + "-" + ('0' + deadline.getDate()).slice(-2) + " " + ('0' + deadline.getHours()).slice(-2) + ":" + ('0' + deadline.getMinutes()).slice(-2) + ":" + ('0' + deadline.getSeconds()).slice(-2));
							});
						</script>
					{{/if}}
	          		<div class="form-group required">
	            		<label class="col-sm-1 col-sm-offset-3 control-label" for="deadline">
							Deadline
						</label>
		            	<div class="col-sm-4">
		              		<div class="input-group datetime">
				                <input type="text" name="deadline" value="" placeholder="Day-Month-Year Hour:minute" data-date-format="YYYY-MM-DD HH:mm:ss" id="deadline" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'deadline' }}noInput{{/equal}}{{/each}}{{/if}}" readonly="true"/>
				                <span class="input-group-btn">
				                	<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
				                </span>
				            </div>
				            {{#if error}}{{#each error}}{{#equal this.param 'deadline'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div id="document-section" style="margin-top: 2em;">
	          			{{#if documents}}
				            {{#each documents}}
				              {{#equal this.task_id ../current_task_id}}
					              <div id="document-wrap{{math @index "+" 1}}">
					              	<div class="row" style="margin-bottom:1em;">
					              		<div class=" col-sm-3 col-sm-offset-3 ">
					                		<h3>Document</h3>
					                	</div>
					                	<div class="col-sm-2 text-right">
					                		<button type="button" onclick="$('#document-wrap{{math @index "+" 1}}').slideUp( 'slow', function() {this.remove();});" title="Remove document" class="btn btn-danger"><i class="fa fa-trash"></i> Remove Document</button>
					                	</div>
					                </div>
					                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Name</label>
					                	<div class="col-sm-4">
					                		<input type="text" name="document[{{@index}}][name]" value="{{this.name}}" placeholder="Document Name" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'name')}}noInput{{/equal}}{{/each}}{{/if}}">
					                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'name')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
					                	</div>
					                </div>
					                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Quantity</label>
					                	<div class="col-sm-4">
					                		<input type="number" name="document[{{@index}}][quantity]" value="{{this.quantity}}" placeholder="Document Quantity" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'quantity')}}noInput {{/equal}}{{/each}}{{/if}}">
					                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'quantity')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
					                	</div>
					                </div>
					                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Description</label>
					                	<div class="col-sm-4">
					                		<input type="text" name="document[{{@index}}][description]" value="{{this.description}}" placeholder="Document Description" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'description')}}noInput{{/equal}}{{/each}}{{/if}}">
					                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'description')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
					                	</div>
					                </div>
					              </div>
				              {{/equal}}
				            {{/each}}
				        {{else}}
			        		{{#each arrayOfErrors}}
			              <div id="document-wrap{{math @index "+" 1}}">
			              	<div class="row" style="margin-bottom:1em;">
			              		<div class="col-sm-3 col-sm-offset-3 ">
			                		<h3>Document</h3>
			                	</div>
			                	<div class="col-sm-2 text-right">
			                		<button type="button" onclick="$('#document-wrap{{math @index "+" 1}}').slideUp( 'slow', function() {this.remove();});" title="Remove document" class="btn btn-danger"><i class="fa fa-trash"></i> Remove Document</button>
			                	</div>
			                </div>
			                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Name</label>
			                	<div class="col-sm-4">
			                		<input type="text" name="document[{{@index}}][name]" value="{{this.name}}" placeholder="Document Name" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'name')}}noInput{{/equal}}{{/each}}{{/if}}">
			                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'name')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
			                	</div>
			                </div>
			                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Quantity</label>
			                	<div class="col-sm-4">
			                		<input type="number" name="document[{{@index}}][quantity]" value="{{this.quantity}}" placeholder="Document Quantity" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'quantity')}}noInput {{/equal}}{{/each}}{{/if}}">
			                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'quantity')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
			                	</div>
			                </div>
			                <div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Description</label>
			                	<div class="col-sm-4">
			                		<input type="text" name="document[{{@index}}][description]" value="{{this.description}}" placeholder="Document Description" class="form-control {{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'description')}}noInput{{/equal}}{{/each}}{{/if}}">
			                		{{#if ../error}}{{#each ../error}}{{#equal this.param (concat @../index 'description')}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
			                	</div>
			                </div>
				              </div>
			            {{/each}}
				       	{{/if}}
	          		</div>
	          		<div class="col-sm-5 col-sm-offset-3 text-right">
	          			<button type="button" onclick="addDocument();" data-toggle="tooltip" title="Add Document" class="btn btn-secondary"><i class="fa fa-plus-circle"></i> Add Document</button>
          			</div>
					<div class="col-sm-4 col-sm-offset-4">
			            <input id="addbutton-" type="button" value="{{submitvalue}}" class="btn btn-block btn-primary createButton" style="margin-top: 1em;">
			        </div>
          		</form>
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		{{#unless documents}}
			// addDocument();
		{{/unless}}
	});
    function initMap() {
    	var myLatLng = {lat: -6.3586989, lng: 106.9092983};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 10,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('address');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        var marker;

      	{{#if latitude}}
        	{{#if longitude}}
        		marker = (new google.maps.Marker({
		        	map: map,
			        title:'{{address}}',
			        position: new google.maps.LatLng({{latitude}}, {{longitude}}),
			        draggable: true
		        }));

        		google.maps.event.addListener(marker, 'dragend', function (event) {
				    	document.getElementById("latitude").value = marker.getPosition().lat();
							document.getElementById("longitude").value = marker.getPosition().lng();
						});

		        markers.push(marker);
        	{{/if}}
        {{/if}}


        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
		      var places = searchBox.getPlaces();

		      if (places.length == 0) {
		        return;
		      }

		      // Clear out the old markers.
		      markers.forEach(function(marker) {
		        marker.setMap(null);
		      });
		      markers = [];

		      // For each place, get the icon, name and location.
		      var bounds = new google.maps.LatLngBounds();
		      places.forEach(function(place) {
		        if (!place.geometry) {
		          console.log("Returned place contains no geometry");
		          return;
		        }
		        // Create a marker for each place.
		        marker = (new google.maps.Marker({
		          map: map,
		          title: place.name,
		          position: place.geometry.location,
		          draggable: true
		        }));

		        google.maps.event.addListener(marker, 'dragend', function (event) {
				    	document.getElementById("latitude").value = marker.getPosition().lat();
							document.getElementById("longitude").value = marker.getPosition().lng();
						});

		        markers.push(marker);

		        if (place.geometry.viewport) {
		          // Only geocodes have viewport.
		          bounds.union(place.geometry.viewport);
		        } else {
		          bounds.extend(place.geometry.location);
		        }
		      });
		      // to get lattitude and longitude then set input value
		      var geocoder = new google.maps.Geocoder();
		      geocoder.geocode( { 'address': input.value}, function(results, status) {
		        if (status == google.maps.GeocoderStatus.OK) {
		        	$('#latitude').val(results[0].geometry.location.lat());
		        	$('#longitude').val(results[0].geometry.location.lng());
		      	}
		      });
		      map.fitBounds(bounds);
        });
    }

		{{#if documents}}
			var document_row = {{#each documents}}{{../documents.length}}{{/each}};
		{{else}}
			{{#if arrayOfErrors.length}}
				var document_row = {{arrayOfErrors.length}};
			{{else}}
				var document_row = 0;
			{{/if}}
		{{/if}}

    function addDocument() {
    html = '<div id="document-wrap'+(document_row+1)+'" class="document-wrapper" style="display: none;">';
		html  += '<div class="row" style="margin-bottom:1em;"><div class=" col-sm-3 col-sm-offset-3 "><h3>Document</h3></div><div class="col-sm-2 text-right"><button type="button" onclick="$(\'#document-wrap'+(document_row+1)+'\').slideUp( \'slow\', function() {this.remove();});" title="Remove document" class="btn btn-danger"><i class="fa fa-trash"></i> Remove Document</button></div></div>';
		html += '<div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Name</label><div class="col-sm-4"><input type="text" name="document[' + document_row + '][name]" value="" placeholder="Document Name" class="form-control"></div></div>';
		html += '<div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Quantity</label><div class="col-sm-4"><input type="number" name="document[' + document_row + '][quantity]" value="" placeholder="Document Quantity" class="form-control"></div></div>';
		html += '<div class="form-group required"><label class="col-sm-1 col-sm-offset-3 control-label">Document Description</label><div class="col-sm-4"><input type="text" name="document[' + document_row + '][description]" value="" placeholder="Document Description" class="form-control"></div></div>';
		html += '</div>';

		$('#document-section').append(html);
		$('#document-section').find(".document-wrapper:last").slideDown("fast");

		document_row++;
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDvViwNvSO_dtA_ZBwdZNXtUkYcyvuJXc&libraries=places&callback=initMap"" type="text/javascript"></script>
