<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{title}}</h1>
			<ul class="breadcrumb">
                <li><a href="{{actionForm}}">Home</a></li>
                <li><a href="{{actionForm}}">{{title}}</a></li>
             </ul>
		</div>
	</div>
	<div class="container-fluid">
        <div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> Input Form</h3>
		    </div>
		    {{# if error}}
    			<script type="text/javascript">
    				x0p('Error', 
				        'Incorect input',
				        'error', false);
    			</script>
		    {{/if}}
		    <div class="panel-body">
		    	<form class="form-horizontal" id="form-task" action={{actionForm}} method="post">
			    	<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="fullname">
							Full Name
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="fullname" value="{{fullname}}" placeholder="Full Name" id="fullname" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'fullname' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'fullname'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="email">
							Email
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="email" value="{{email}}" placeholder="email" id="email" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'email' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'email'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="roles">
							Roles
						</label>
		            	<div class="col-sm-4">
		              		<select name="roles" id="roles" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'roles' }}noInput{{/equal}}{{/each}}{{/if}}">
		              			{{#each roles}}	
		              			  <option value="{{this.id}}" {{#equal this.role_name roleName}}selected{{/equal}}>{{this.role_name}}</option>
		              			{{/each}}
		              		</select>
		              		{{#if error}}{{#each error}}{{#equal this.param 'roles'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="phone">
							Phone
						</label>
		            	<div class="col-sm-4">
		              		<input type="text" name="phone" value="{{phone}}" placeholder="phone" id="phone" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'phone' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'phone'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		{{#if updateForm}}
	          		<!--
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="password">
							Current Password
						</label>
		            	<div class="col-sm-4">
		              		<input type="password" name="password" value="" placeholder="password" id="password" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'password' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'password'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		-->
	          		<div class="form-group">
	            		<label class="col-sm-1 control-label" for="newPassword">
							New Password
						</label>
		            	<div class="col-sm-4">
		              		<input type="password" name="newPassword" value="" placeholder="new password" id="newPassword" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'password' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'newPassword'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		<div class="form-group">
	            		<label class="col-sm-1 control-label" for="confirmPassword">
							Confirm Password
						</label>
		            	<div class="col-sm-4">
		              		<input type="password" name="confirmPassword" value="" placeholder="confirm password" id="confirmPassword" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'confirmPassword' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'confirmPassword'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		{{else}}
	          		<div class="form-group required">
	            		<label class="col-sm-1 control-label" for="password">
							Password
						</label>
		            	<div class="col-sm-4">
		              		<input type="password" name="password" value="" placeholder="password" id="password" class="form-control {{#if error}}{{#each error}}{{#equal this.param 'password' }}noInput{{/equal}}{{/each}}{{/if}}">
		              		{{#if error}}{{#each error}}{{#equal this.param 'password'}}<div class="text-danger">{{this.msg}}</div>{{/equal}}{{/each}}{{/if}}
		                </div>
	          		</div>
	          		{{/if}}
	          		<div class="col-sm-5">
			          <div class="pull-right">
			            <input type="submit" value="{{submitvalue}}" class="btn btn-primary createButton">
			          </div>
			        </div>
          		</form>
		    </div>
		</div>
	</div>
</div>