<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{subtitle}}</h1>
			<ul class="breadcrumb">
                <li><a href="\">Home</a></li>
             </ul>
		</div>
	</div>
	<div class="container-fluid">
        <div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h3 class="panel-title"><i class="fa fa-map-marker"></i>Tracking Courier</h3>
		    </div>
		    <div class="panel-body">
		    	{{#if couriers}}
		    	<div id="map"></div>
		    	<div class="row button-row">
		    		<div class="col-sm-2 col-sm-offset-4">
		    			<button data-tooltip="tooltip" class="btn btn-block btn-secondary button-reset-zoom" title="Reset Zoom"><i class="fa fa-search"></i> Reset Zoom</button>
		    		</div>
		    		<div class="col-sm-2">
		    			<button data-tooltip="tooltip" class="btn btn-block btn-primary button-refresh" title="Refresh Map" onclick="location.reload();"><i class="fa fa-refresh"></i> Refresh Map</button>
		    		</div>
		    	</div>
		    	<h3 class="dasboard-courier-title">Online Couriers List</h3>
		    	<table class="table table-hover table-bordered table-striped dasboard-courier-table">
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Phone Number</th>
			            <th>Region</th>
			            <th class="text-center">Zoom</th>
			          </tr>
			        </thead>
			        <tbody>
			          {{#each couriers}}
			          <tr>
			            <td>{{this.name}}</td>
			            <td>{{this.phone}}</td>
			            <td>{{this.region}}</td>
			            <td class="action-button">
			              <button data-id="{{@index}}" data-tooltip="tooltip" class="btn btn-secondary button-zoom-courier" title="Zoom courier"><i class="fa fa-search"></i></button>
			            </td>
			          </tr>
			          {{/each}}
			        </tbody>
			    </table>
			    {{else}}
			    	<div class="alert alert-info">
					  <h4 class="text-center"><strong>Info!</strong> Tidak ada courier yang sedang online</h4>
					</div>
			    {{/if}}
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
   var locations = [
   		{{#each couriers}}
        ['{{this.name}}', {{this.latitude}}, {{this.longitude}}],
        {{/each}}
    ];

    var markers = [];

    function initMap() {
        var myLatLng = {lat: -6.3586989, lng: 106.9092983};

        var map = new google.maps.Map(document.getElementById('map'), {});

        var markerBounds = new google.maps.LatLngBounds();

        var count=0;
        var infoWindows = [];

        for (count = 0; count < locations.length; count++) {  

        	point = new google.maps.LatLng(locations[count][1], locations[count][2]);

            markers[count] = new google.maps.Marker({
                position: point,
                animation: google.maps.Animation.DROP,
                map: map
            });

            markerBounds.extend(point);

            markers[count].info = new google.maps.InfoWindow({
                content: locations [count][0]
            });
            infoWindows.push(markers[count].info);




            (function(marker,count){
               	google.maps.event.addListener(marker, 'mouseover', function() {
	            	this.setAnimation(google.maps.Animation.BOUNCE);
	            	maps = this.getMap();
	                var marker_map = this.getMap();
	                this.info.open(marker_map, this);
	                // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
            });
            }(markers[count],count));

            (function(marker,count){
            	google.maps.event.addListener(marker, 'mouseout', function() {
            		closeAllInfoWindows();
            });
            }(markers[count],count));

            (function(marker,count){
                google.maps.event.addListener(marker, 'click', function() {
	            	closeAllInfoWindows();
	            	this.setAnimation(google.maps.Animation.BOUNCE);
	            	maps = this.getMap();
	            	map.panTo(this.getPosition());
	            	smoothZoom(maps, 16, maps.getZoom());
	                var marker_map = this.getMap();
	                this.info.open(marker_map, this);
	                // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
            });
            }(markers[count],count));

            function smoothZoom (map, max, cnt) {
                if (cnt >= max) {
                        return;
                    }
                else {
                    y = google.maps.event.addListener(map, 'zoom_changed', function(event){
                    	google.maps.event.removeListener(y);
                    	smoothZoom(map, max, cnt + 1);
                    });
                    setTimeout(function(){map.setZoom(cnt)}, 80);
                }
            }

            function closeAllInfoWindows() {
				for (var i=0;i<infoWindows.length;i++) {
			    	infoWindows[i].close();
			    	markers[i].setAnimation(null);
			 	}
			 	resetZoom();
			}

			function resetZoom() {
			 	map.setZoom(10);
			}

			$(".button-reset-zoom").click(function(){
	        	resetZoom();
	        	map.fitBounds(markerBounds);
	        });
        }
        map.fitBounds(markerBounds);
    }
    $(document).ready(function(){
        $(".button-zoom-courier").click(function(){
        	var uid = $(this).data('id');
            google.maps.event.trigger(markers[uid], 'click');
        });
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSdU8z7F6ODjpJyC6eKzn0n9woBNmvK94&callback=initMap"" type="text/javascript"></script>