<!DOCTYPE html>
<html>
    <head>
    <title>{{title}}</title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">

        <!-- Main style -->

        <link href="/css/stylesheet.css" rel="stylesheet">

        <link href="/img/favicon.ico" rel="icon" />

        <!-- Main Javascript -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/common.js"></script>

    </head>
    <body>
    {{# if logout}}
        <script type="text/javascript">
            x0p({
                title: 'Success',
                text: 'Your account has been logout',
                icon: 'ok',
                buttons: [],
                autoClose: 3000
            });
        </script>
    {{/if}}

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 10%">
                        <div class="form-top center">
                            <div class="form-top-left">
                                <h3>Login to Sikuma</h3>
                                <p>Enter your username and password to log on:</p>
                                {{# if error}}
                                <div class="alert alert-danger">
                                  <strong>Failed!</strong> {{error}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="email">Username or Email</label>
                                    <input type="text" name="email" placeholder="Username or Email" class="form-username form-control" id="email" value="{{email}}">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer id="footer"><a href="http://www.cermati.com" target="_blank"> Wardev</a> © 2017. All Right Reserved.<br>Versi 0.0.0</footer>
</html>