<!DOCTYPE html>
<html>
	<head>
	<title>{{title}}</title>

		<!-- Bootstrap -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/font-awesome.css" rel="stylesheet">

		<!-- Main style -->

		<link href="/css/stylesheet.css" rel="stylesheet">

		<link href="/img/favicon.ico" rel="icon" />

		<!-- Main Javascript -->
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common.js"></script>

		<!-- Date Picker -->
		<script src="/plugin/datetimepicker/moment.js"></script>
		<link href="/plugin/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<script src="/plugin/datetimepicker/bootstrap-datetimepicker.min.js"></script>

	</head>
	<body>
		<div id="container">
			<nav id="column-left">
				<div id="profile">
				  <h1><a href="\"> SIKUMA </a></h1>
				</div>
				<div id="profile">
					<div>
					  <i class="fa fa fa-user"></i>
					</div>
					<div>
					  <h4>{{adminName}}</h4>
					  <small>admin</small>
					</div>
				</div>

				<ul id="menu">
					<li id="menu-dashboard">
					  	<a href="\"><i class="fa fa-dashboard"></i> <span> DashBoard </span></a>
					</li>
					<li id="menu-task">
					  	<a class="parent"><i class="fa fa-tasks"></i> <span> Task Management </span></a>
					 	<ul>
						    <li>
						    	<a href="/task/view"> View Tasks </a>
						    </li>
						    <li>
						      	<a href="/task/create"> Create Task </a>
						    </li>
								<li>
						      	<a href="/task/upload"> Upload Task </a>
						    </li>
					  	</ul>
					</li>
					<li id="menu-kurir">
					  	<a class="parent"><i class="fa fa-truck"></i> <span> Couriers </span></a>
					  	<ul>
					  		<li>
						      	<a href="/courier/view-couriers"> View Couriers </a>
						    </li>
						    <li>
						      	<a href="/courier/create-courier"> Create Courier </a>
						    </li>
					  	</ul>
					</li>
					<li id="menu-account">
					 	<a class="parent"><i class="fa fa-users"></i> <span> Account Management </span></a>
					 	<ul>
						    <li>
						      	<a href="/user/view-users"> View Users </a>
						    </li>
						    <li>
						      	<a href="/user/create-user"> Create User </a>
						    </li>
					  	</ul>
					</li>
					<li id="menu-statistics">
					 	<a class="parent"><i class="fa fa-area-chart"></i> <span> Statistics </span></a>
					 	<ul>
						    <li>
						      	<a href="/statistic/task"> Task Statistics </a>
						    </li>
								<li>
						      	<a href="/statistic/courier"> Courier Statistics </a>
						    </li>
					  	</ul>
					</li>
				</ul>
			</nav>
			<div id="content">
				<header id="header" class="navbar navbar-static-top">
				  	<div class="navbar-header">
				        <a type="button" id="button-menu" class="pull-left"><i></i></a>
				    </div>
				    <div class="searchboxwrapper">
						<input class="searchbox" type="text" value="" name="search" placeholder="Search for">
						<input class="searchsubmit" type="submit" id="searchsubmit" value="">
					</div>
					<div class="col-md-offset-11" style="margin-top: 1%">
						<a href="/logout">Logout</a>
					</div>
				</header>
				{{{body}}}

				<footer id="footer"><a href="http://www.cermati.com" target="_blank"> Wardev</a> © 2017. All Right Reserved.<br>Versi 0.0.0</footer>
			</div>
		</div>
  </body>
</html>
