<!-- ChartJS Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Statistics</h1>
			<ul class="breadcrumb">
        <li><a href="\">Home</a></li>
        <li><a href="">Statistics</a></li>
        <li><a href="\statistic\task">Task Statistics</a></li>
      </ul>
		</div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> Statistics of Task </h3>
    </div>
    <div class="panel-body">
      <canvas id="taskStatistics"></canvas>
    </div>
    <div class="panel-body">
      <form action="task" method="post">
        <div class="form-inline statistic-selector">
            <div class="datetime form-inline col-xs-3">
              <input type="text" name="startDate" value="" placeholder="Start Date" data-date-format="YYYY-MM-DD HH:mm:ss" readonly="true"/>
              <span>
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
            <div class="datetime form-inline col-xs-3">
              <input type="text" name="endDate" value="" placeholder="End Date" data-date-format="YYYY-MM-DD HH:mm:ss" readonly="true"/>
              <span>
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
        </div>

      <input class="btn btn-primary" type="submit" value="Check by date">
      {{#if errors}}<span class="text-danger margin-left:10px"> invalid date </span>{{/if}}
      </form>
      <button class="btn btn-primary" style="margin-left:12px; margin-top:10px" onclick="location.reload()"> Check all </button>
    </div>
  </div>
  <script>
    var ctx = $("#taskStatistics");
    var taskStatistics = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Task Created", "On Progress Task", "Successful Task", "Failed Task"],
        datasets: [{
          //label: 'TASK STATISTICS',
          data: [{{taskCreated}}, {{onProgressTasks}}, {{successfulTasks}}, {{failedTasks}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'
          ],
          borderWidth: 1.5
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }],
          xAxes: [{
            barPercentage: 0.6
          }]
        },
        legend: {
            display: false
        }
      }
    });
  </script>
</div>
