
<link href="/css/style.css" rel="stylesheet">
<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Coming Soon</h1>
				<h2 class="subtitle">We're working hard to improve <a href="https://www.cermati.com">Cermati</a>'s courier system and we'll ready to launch soon</h2>
				<div id="countdown"></div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright">&copy; Cermati - All Rights Reserved</p>
			</div>
		</div>		
	</div>
</div>
