<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
<style media="screen">
	.btn.btn-file{
		height: 34px;
		padding: 5px 15px;
	}
	.input-group-button>button{
		height: 34px;
	}
</style>

{{# if error}}
	<script type="text/javascript">
		x0p({
			title: 'Error',
			text: '{{error}}',
			icon: 'error',
			buttons: [],
			autoClose: 3000
		});
	</script>
{{/if}}

<!-- Load file input script plugin -->
<link href="/plugin/fileinput/fileinput.min.css" media="all" rel="stylesheet" type="text/css">
<script src="/plugin/fileinput/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="/plugin/fileinput/sortable.min.js" type="text/javascript"></script>
<script src="/plugin/fileinput/purify.min.js" type="text/javascript"></script>
<script src="/plugin/fileinput/fileinput.min.js"></script>

<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{title}}</h1>
			<ul class="breadcrumb">
                <li><a href="{{actionForm}}">Home</a></li>
                <li><a href="{{actionForm}}">{{title}}</a></li>
             </ul>
		</div>
	</div>
	<div class="container-fluid">
        <div class="panel panel-default">
		  	<div class="panel-heading">
		  		<h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> Upload Form</h3>
		    </div>
		    <div class="panel-body">
					<div class="row">
						<div class="col-xs-5">
							<a href="template-file" class="task-file"><i class="fa fa-file"></i><br>Download Template File</a>
							<br><br>
          <form class="form-inline" id="form-task" action="upload" method="post" enctype="multipart/form-data">
						<div class="form-group required">
							<label class="control-label">Select File</label>
							<input id="taskfile" class="taskUpload" name="taskfile" type="file" class="file-loading">
						</div>
        </form>
						</div>
					</div>
		    </div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(".taskUpload").fileinput({
			previewFileType: "text",
			allowedFileExtensions: ["txt","json"],
			previewClass: "bg-warning",
			removeClass: "btn btn-danger",
			removeLabel: "Delete",
			removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
			uploadClass: "btn btn-info uploadTaskButton",
			uploadLabel: "Upload",
			uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
	});

	$(".uploadTaskButton").on("click", function(e) {
		var form = $(this).parents('form');

		x0p({
				title: 'Confirmation',
				text: 'Are you sure?',
				icon: 'warning',
				animationType: 'fadeIn',
				buttons: [
						{
								type: 'cancel'
						},
						{
								type: 'info',
								text: 'confirm',
								showLoading: true
						}
				]
		}, function(button) {
				if(button == 'info') {
						// Simulate Delay
						setTimeout(function() {
							form.submit();
						}, 2000);
				}
		});
		e.preventDefault();
	});
</script>
