<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
{{# if success}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: 'Courier has been created or updated!',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}

<script>
 var courier_id = 1;

 function setCourierId(id) {
  courier_id = id;
 }
</script>

{{# if successDelete}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: 'Courier has been deleted!',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}
<div class="box-container">
  <div class="page-header">
    <div class="container-fluid">
      <h1>View Couriers</h1>
      <ul class="breadcrumb">
        <li><a href="\">Home</a></li>
        <li><a href="\couriers">Couriers</a></li>
        <li><a href="\list-couriers">View Couriers</a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> Courier's Data</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Region</th>
            <th>Last Online</th>
            <th colspan=4></th>
          </tr>
        </thead>
        <tbody>
          {{#each couriers}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.region}}</td>
            <td>{{this.last_online}}</td>
            <td colspan="4" class="action-button">
              <button data-tooltip="tooltip" class="btn btn-info marginButton" title="Courier details" data-toggle="modal" data-target="#myModal{{this.id}}"><i class="fa fa-info-circle"></i></button>
              <button data-tooltip="tooltip" class="btn btn-secondary marginButton" title="Update courier" onclick="location.href='/courier/update-couriers/{{this.id}}'"><i class="fa fa-pencil"></i></button>
              <button data-tooltip="tooltip" class="btn btn-secondary marginButton" title="assign a task"  data-toggle="modal" data-target="#assignTaskModal" onclick="setCourierId({{this.id}})" ><i class="fa fa-pencil-square"></i></button>
              <button data-tooltip="tooltip" data-id="{{this.id}}" class="btn btn-danger marginButton delete-courier" title="delete Courier"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each couriers}}
 <!-- Modal -->
 <div class="modal fade" id="myModal{{this.id}}" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Courier Details</h4>
       </div>
       <div class="modal-body">
         <div class="row detail-info">
           <div class="col-xs-3">
             COURIER ID
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.id}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             NAME
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.name}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             PHONE
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
               {{this.phone}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             REGION
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.region}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             STATUS
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.status}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             LATITUDE
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.latitude}}
           </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             LONGITUDE
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5">
             {{this.longitude}}
           </div>
         </div>

         <div class="row detail-info">
           <div class="col-xs-3">
             REGION_ID
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-6">
             {{this.region_id}}
           </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 {{/each}}

  <!-- Modal -->
  <div class="modal fade" id="assignTaskModal" role="dialog">
    <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">List Tasks</h4>
       </div>
       <div class="modal-body">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Address</th>
              <th>Region</th>
              <th>Deadline</th>
              <th>Assign</th>
            </tr>
          </thead>
          <tbody>
           {{#each tasks}}
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.address}}</td>
            <td>{{this.region}}</td>
            <td>{{this.deadline}}</td>
            <td> 
              <button data-id="{{this.id}}" class="btn btn-primary assign-task" title="assign task"> <i class="fa fa-plus"></i> </button>
            </td>
           {{/each}}
          </tbody>
        </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
    </div>
  </div>
</div>