<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
{{# if success}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: '{{success}}',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}
<script>
 var task_id = 1;

 function setTaskId(id) {
  task_id = id;
 }
</script>

{{# if success}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: '{{success}}',
      icon: 'ok',
      buttons: [],
      autoClose: 2000
    });
  </script>
{{/if}}

<div class="box-container">
  <div class="page-header">
    <div class="container-fluid">
      <h1>View Tasks</h1>
      <ul class="breadcrumb">
        <li><a href="\">Home</a></li>
        <li><a href="">Task Management</a></li>
        <li><a href="\list-task">View Tasks</a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i>Task's Data</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Region</th>
            <th>Status</th>
            <th colspan="4" class="action-button"></th>
          </tr>
        </thead>
        <tbody>
          {{#each tasks}}
          <script>
            var task_status = "{{this.task_status}}";
          </script>
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.region}}</td>
            <td>{{this.task_status}}</td>
            <td colspan="4" class="action-button" style="text-align: left !important;">
              <button data-tooltip="tooltip" class="btn btn-info marginButton" title="task details" data-toggle="modal" data-target="#myModal{{this.id}}"><i class="fa fa-info-circle"></i></button>
              <button data-tooltip="tooltip" class="btn btn-secondary marginButton" title="update task" onclick="location.href='/task/update/{{this.id}}'"><i class="fa fa fa-pencil"></i></button>
              <button data-tooltip="tooltip" data-id = "{{this.id}}" class="btn btn-danger marginButton deletetask"  title="delete task"><i class="fa fa-trash-o"></i></button>
              {{#ifCond task_status "pending" }}
                <button data-tooltip="tooltip" class="btn btn-secondary marginButton" title="assign a courier" title="task assignment details" data-toggle="modal" data-target="#assignTaskModal" onclick="setTaskId({{this.id}})"><i class="fa fa-pencil-square"></i></button>
              {{else}}
              
            {{/ifCond}}
            </td>
          </tr>
          {{else}}
          <td colspan="8">No Tasks Inserted.</td>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{#each tasks}}
  <!-- Modal -->
  <div class="modal fade" id="myModal{{this.id}}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Task Details</h4>
        </div>
        <div class="modal-body">
          <div class="row detail-info">
            <div class="col-xs-2">
              TASK ID
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.id}}
            </div>
          </div>
          <div class="row detail-info">
            <div class="col-xs-2">
              NAME
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.name}}
            </div>
          </div>
          <div class="row detail-info">
            <div class="col-xs-2">
              REGION
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.region}}
            </div>
          </div>
          <div class="row detail-info">
            <div class="col-xs-2">
              STATUS
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.task_status}}
            </div>
          </div>
          <div class="row detail-info">
            <div class="col-xs-2">
              LATITUDE
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.latitude}}
            </div>
          </div>
          <div class="row detail-info">
            <div class="col-xs-2">
              LONGITUDE
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.longitude}}
            </div>
          </div>

          <div class="row detail-info">
            <div class="col-xs-2">
              DEADLINE
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-6">
              {{this.deadline}}
            </div>
          </div>

          <div class="row detail-info">
            <div class="col-xs-2">
              ADDRESS
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.address}}
            </div>
          </div>

          <div class="row detail-info">
            <div class="col-xs-2">
              DESCRIPTION
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.description}}
            </div>
          </div>

          <div class="row detail-info">
            <div class="col-xs-2">
              COURIER
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.courier_id}}
            </div>
          </div>

          <div class="row detail-info">
            <div class="col-xs-2">
              ASSIGNED BY
            </div>
            <div class="col-xs-1">
              :
            </div>
            <div class="col-xs-9">
              {{this.assigned_by}}
            </div>
          </div>
          {{#if ../documents}}
            <h3 class="task-document-title">Task Documents List</h3>
            {{#each ../documents}}
              {{#equal this.task_id ../this.id}}
              <div class="document-wrap">
                <h4>Document ID : {{this.id}}</h4>
                <div class="row">
                  <div class="col-xs-4">
                    Document Name
                  </div>
                  <div class="col-xs-1">
                    :
                  </div>
                  <div class="col-xs-7">
                    {{this.name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    Document quantity
                  </div>
                  <div class="col-xs-1">
                    :
                  </div>
                  <div class="col-xs-7">
                    {{this.quantity}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    Document description
                  </div>
                  <div class="col-xs-1">
                    :
                  </div>
                  <div class="col-xs-7">
                    {{this.description}}
                  </div>
                </div>
              </div>

              {{/equal}}
            {{/each}}
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <!-- Modal -->
  <div class="modal fade" id="assignTaskModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">List Couriers</h4>
        </div>
        <div class="modal-body">
        {{#each couriers}}
          <div class="row">
            <div class="col-xs-3">
              Courier's Name :
            </div>
            <div class="col-xs-9">
              {{this.name}}
            </div>
            <div class="col-xs-4">
            <button id="assign-task" class="fa fa-user marginButton" onclick='var result = confirm("Are you sure want to assign this task to the courier?"); if (result) {location.href="/task/assign-to/"+task_id+"/{{this.id}}"};' title="assign task"></button>
            </div>
          </div>
          <br></br>
        {{/each}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>