<!-- Alert Popup script -->
<link href="/plugin/x0popup/x0popup.min.css" rel="stylesheet">
<script src="/plugin/x0popup/x0popup.min.js"></script>
{{# if success}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: 'Courier has been created or updated!',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}
{{# if successCreateUser}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: '{{successCreateUser}}',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}
{{# if successDeleteUser}}
  <script type="text/javascript">
    x0p({
      title: 'Congratulations',
      text: '{{successDeleteUser}}',
      icon: 'ok',
      buttons: [],
      autoClose: 3000
    });
  </script>
{{/if}}
<div class="box-container">
	<div class="page-header">
		<div class="container-fluid">
			<h1>View User</h1>
			<ul class="breadcrumb">
        <li><a href="\">Home</a></li>
        <li><a href="">Users</a></li>
        <li><a href="\user\view-users">View Users</a></li>
      </ul>
		</div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-table"></i> User's Data</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Role ID</th>
            <th>Phone</th>
            <th>Last Online</th>
            <th colspan=3></th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.roles_id}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.last_online}}</td>
            <td colspan="3" class="action-button">
              <button data-tooltip="tooltip" data-id="{{this.id}}" class="btn btn-info marginButton user-details" title="User details"><i class="fa fa-info-circle"></i></button>
              <button data-tooltip="tooltip" class="btn btn-secondary marginButton" title="Update User" onclick="location.href='/user/update/{{this.id}}'"><i class="fa fa-pencil"></i></button>
              <button data-tooltip="tooltip" data-id="{{this.id}}" class="btn btn-danger marginButton delete-user" title="Delete User"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

 <!-- Modal -->
 <div class="modal fade" id="userModal" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">User Details</h4>
       </div>
       <div class="modal-body">
         <div class="row img-avatar">
          <div class="col-xs-12">
            <img class="userImage">
          </div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             USER ID
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5 userId"></div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             FULLNAME
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5 userFullname"></div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             EMAIL
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5 userEmail"></div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             Role ID
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5 userRolesId"></div>
         </div>
         <div class="row detail-info">
           <div class="col-xs-3">
             PHONE
           </div>
           <div class="col-xs-1">
             :
           </div>
           <div class="col-xs-5 userPhone"></div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

</div>
