@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$link-color: #007BC1;
$headline-color: #464646;
$primary-color: #FF7817;
$primary-color-active-hover: #eb6403;
$secondary-color: #1E70B7;
$secondary-color-active-hover: #0a5ca3;
$cancelation-color: #868686;
$button-corner-radius: 3px;
$button-height: 36px;
$button-padding: 0 15px;
$universe-color-red: #D34646;
$universe-color-blue: $link-color;
$universe-color-orange: #F1751b;

$line-height-font-size-55px: 55px;

@mixin button($color, $hover-active-color) {
  color: #ffffff;
  background: $color;
  border-color:$color;
  &:focus, &:hover, &:active {
    background: $hover-active-color;
  }
}
@mixin headlines() {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 34px;
  color: #464646;
  display: inline-block;
  line-height: $line-height-font-size-55px;
}
@mixin box-shadow() {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 12px;
  color: #666666;
  text-rendering: optimizeLegibility;
  /*background: #f9f9f9;*/
}

.marginButton {
  margin-left: 30px;
}

#taskStatistics {
  max-width: 700px; 
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
#assignTaskModal .modal-dialog {
    width: 900px;
}
.modal-header {
  padding: 20px;
  background: $universe-color-blue;
  border: 0;
}
.modal-title {
  @include headlines();
  display: block;
  text-align: center;
}
.modal-body {
  & .detail-info {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    @include  box-shadow();
  }
  & .document-wrap {
      border: 2px solid $universe-color-blue;
      border-radius: 5px;
      padding: 1em;
      margin-bottom: 1em;
  }
}
.modal-footer {
  background: #f1f3f5;
  & .btn{
    @include  box-shadow();
  }
}
.page-header {
  vertical-align: middle;
  margin: 15px 0;
  padding: 0;
  border-bottom: none;
  h1 {
    @include headlines();
  }
}

.img-avatar{
  text-align: center;
  margin-bottom: 10px;
  & img{
    border-radius: 50%;
    width: 215px;
  }
}
#map{
  width: 100%; 
  height: 500px;
  margin: 0 auto;
}
.dasboard-courier-title{
  display: block;
  width: 60%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 27px;
  margin: 2em auto 0;
  text-align: center;
  background: -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100% 0px, 100% 3px, 0px 100%, 0px 100%;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  padding-bottom: 7.5px;
}
.dasboard-courier-table {
  width: 60%;
  margin: 2em auto 3em;
}
.button-row {
  margin-top: 1em;
}

a {
  color: $link-color;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.task-document-title{
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 21px;
  margin: 1.5em auto 1em;
  text-align: center;
  background: -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100% 0px, 100% 3px, 0px 100%, 0px 100%;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  padding-bottom: 7.5px;
}


/* fix for bootstrap hidden and visible */

span {
  &.hidden-xs, &.hidden-sm, &.hidden-md, &.hidden-lg {
    display: inline;
  }
}

#container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}


 /* Header */
#header {
  min-height: 0px;
  background: #FFFFFF;
  /*border-bottom: 1px solid #E5E5E5;*/
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  margin: 0;
  padding: 0;
  .nav > li {
    float: left;
    li {
      min-width: 200px;
    }
  }
  .navbar-header {
    min-height: 0px;
    padding: 0;
  }
  #button-menu + .navbar-brand {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    height: auto;
  }
  .nav > li > a {
    padding: 3px 16px;
    line-height: 38px;
    cursor: pointer;
    color: #6D6D6D;
    border-left: 1px solid #E1E1E1;
    > .label {
      text-shadow: none;
      padding: 1px 4px;
      position: absolute;
      top: 8px;
      left: 6px;
    }
  }
}

.searchboxwrapper {
  float: left;
  .searchbox {
    border: 1px solid #dadada;
    outline: none;
    font: 14px 'Montserrat', sans-serif;
    color: #777;
    height: 30px;
    background: #fff;
    padding-left: 10px;
    margin: 6px;
    margin-right: 0;
    display: inline-block;
    &:focus{
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }
  .searchsubmit {
    font-family: 'FontAwesome';
    width: 30px;
    height: 28px;
    font-size: 14px;
    background: #FFF;
    border: none;
    color: #595959;
    font-weight: bold;
    cursor: hand;
    margin-left: -3px;
    cursor: pointer;
    position: relative;
    left: -31px;
  }
}


/* Mobile */
@media (max-width: 767px) {
  #header .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
    float: left;
  }
}

#button-menu {
  padding: 10px 17px 9px 17px;
  line-height: 25px;
  float: left;
  display: inline-block;
  cursor: pointer;
  color: #6D6D6D;
  border-right: 1px solid #E1E1E1;
}

#profile {
  display: none;
}

#column-left.active #profile {
  display: block;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  /*border-bottom: 1px solid #585858;*/
}

#profile {
  div {
    float: left;
    color: #C4C4C4;
    i {
      font-size: 42px;
      color: #2ca5d3;
    }
    + div {
      margin-left: 15px;
    }
  }
  h4 {
    margin-top: 6px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 0;
  }
  h1 {
    text-align: center;
    font-weight: 600;
    > a {
      color:#C4C4C4;
    }
  }
}

#column-left {
  width: 50px;
  height: 100%;
  background-color: #061220;
  background-repeat: no-repeat;
  background-image: url(../img/sidenav-dark.jpg);
  position: absolute;
  top: 0px;
  z-index: 1001;
  transition: all 0.3s;
  -webkit-box-shadow: 6px 0px 10px 2px rgba(0,0,0,0.3);
  &.active {
    width: 235px;
    display: block;
  }
  &::-webkit-scrollbar { 
    display: none; 
  }
}

#content {
  transition: all 0.3s;
}

#column-left + #content {
  margin-left: 50px;
  + #footer {
    margin-left: 50px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  #column-left {
    overflow: hidden;
    display: none;
    + #content {
      margin-left: 0;
      + #footer {
        margin-left: 0;
      }
    }
  }
}

/* Menu */

#menu {
  padding: 0;
  margin: 0;
  list-style: none;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      cursor: pointer;
      /*border-bottom: 1px solid #515151;*/
      i {
        font-size: 16px;
      }
    }
    li a {
      color: #9d9d9d;
      &:hover {
        color: #FFFFFF;
        background-color: #373737;
      }
      &:before {
        content: "\f101";
        font-size: 14px;
        font-family: FontAwesome;
        margin-left: 10px;
        margin-right: 10px;
        transition: margin ease 0.5s;
      }
      &:hover:before {
        margin-right: 20px;
      }
    }
    &.active li a {
      color: #C4C4C4;
    }
    li.active {
      > a:last-child {
        color: #FFFFFF;
      }
      a:last-child:before {
        margin-left: 20px;
        margin-right: 10px;
      }
    }
    ul {
      overflow: hidden;
    }
    li a.parent:after {
      font-family: FontAwesome;
      content: "\f105";
      float: right;
      margin-right: 8px;
    }
  }
  margin-bottom: 25px;
  > li {
    position: relative;
  }
  > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px;
    /*border-bottom: 1px solid #585858;*/
    &:hover {
      background-color: #444444;
    }
    > span {
      display: none;
      margin-left: 8px;
    }
  }
  > li.active > a {
    color: #DDDDDD;
    background: #373737;
  }
  > li > ul {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 210px;
    background-color: #515151;
    visibility: hidden;
  }
  > li:hover > ul {
    visibility: visible;
  }
}

#column-left.active #menu > li a.parent:after {
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  margin-right: 8px;
}

#menu li li.open > a.parent:after {
  font-family: FontAwesome;
  content: "\f107";
  float: right;
  margin-right: 8px;
}

#column-left.active #menu > li {
  &.open > a.parent:after, li.open > a.parent:after {
    font-family: FontAwesome;
    content: "\f107";
    float: right;
    margin-right: 8px;
  }
}

#menu li {
  ul a {
    padding-left: 20px;
  }
  li {
    ul a {
      padding-left: 40px;
    }
    li {
      ul a {
        padding-left: 60px;
      }
      li ul a {
        padding-left: 80px;
      }
    }
  }
}

/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
  #column-left.active {
    overflow: auto;
    + #content {
      margin-left: 235px;
      + #footer {
        margin-left: 235px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  #column-left.active + #content {
    position: relative;
    left: 235px;
    + #footer {
      position: relative;
      left: 235px;
    }
  }
}

#column-left.active {
  width: 235px;
  #menu {
    li i {
      font-size: 14px;
    }
    > li > {
      a > span {
        display: inline;
      }
      ul {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        visibility: visible;
      }
    }
  }
}

/* footer */

#footer {
  height: 100px;
  text-align: center;
  padding-top: 2.5em;
}

/* Panels */

.panel {
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  .panel-heading {
    position: relative;
  }
}

.panel-heading {
  h3 i {
    margin-right: 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  h3, i {
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
  }
  h3 { 
    font-family: Montserrat;
  }
}

/* Primary Panel */

.panel-primary {
  border: 1px solid #c3e4f6;
  border-top: 2px solid #5cb7e7;
  .panel-heading {
    color: #1e91cf;
    border-color: #96d0f0;
    background: white;
  }
}

/* Default Panel */

.panel-default {
  border: 1px solid #e8e8e8;
  .panel-heading {
    color: #595959;
    border-color: #e8e8e8;
    background: #fcfcfc;
  }
}

.img-thumbnail {
  i {
    color: #FFFFFF;
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    vertical-align: middle;
    display: inline-block;
  }
  &.list i {
    width: 40px;
    height: 40px;
    padding-top: 10px;
  }
}

/* Menu Fix For System -> Layout -> Banner */

.collapse {
  &.in {
    display: block;
    visibility: unset;
  }
  display: none;
  visibility: unset;
}
.box-container{
  /*border :5px solid #868686;*/
  margin: 15px 20px;
}

/* Form style */
.required  {
  .control-label {
    &:before {
    content: '* ';
    color: $universe-color-red;
    font-weight: bold;
    }
  }
}
#other-task-type{
  margin-top: 5px;
}
.text-danger {
    color: $universe-color-red;
}
.form-group.required{
  .noInput {
      border: 1px solid $universe-color-red;
  }
}

 /*Button style */
 .btn{
  border-radius : $button-corner-radius;
  height: $button-height;
  padding: $button-padding;
 }
.btn.btn-primary{
  @include button($primary-color, $primary-color-active-hover);
}
.btn.btn-secondary{
  @include button($secondary-color, $secondary-color-active-hover);
}
.btn.btn-danger{
  @include button($universe-color-red, $universe-color-red);
}
.action-button{
  text-align: center;
  & .btn{
    border-radius : $button-corner-radius;
    height: $button-height;
    padding: $button-padding;
    @include  box-shadow();
    & > i{
      color: white;
    }
  }
}
.input-group {
  &.datetime {
    .input-group-btn{
      button {
        height: 34px;
      }
    }
  }
}

/* Breadcrumb */
.breadcrumb {
  display: inline-block;
  background: none;
  margin: 0;
  padding: 0 10px;
  & li a {
    color: #999999;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
  }
  & li:last-child {
    & a {
      color: #1e91cf;
    }
  }
  & li a:hover {
    text-decoration: none;
  }
  & li {
    & + li {
      &:before {
        content: "/";
        font-family: FontAwesome;
        color: #BBBBBB;
        padding: 0 5px;
      }
    }
  }
}

/* x0p alert */
.x0p {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  &.default {
    & .button-error {
      background-color: $universe-color-red !important;
    }
    & .button-info {
      background-color: $universe-color-blue !important;
    }
  }
}
.xi-error span::before {
  background-color: $universe-color-red !important;
}

.xi-warning span::before {
  background-color: $universe-color-orange !important;
}

/* statsistic selector */
.statistic-selector {
  & input, & select{
    height: 34px;
    padding: 5px 10px;
  }
  & select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
  }
}
.select{
  position: relative;
  &:after{
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: 7px;
    width: 14px;
    color: $secondary-color;
  }
}