@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 12px;
  color: #666666;
  text-rendering: optimizeLegibility;
  /*background: #f9f9f9;*/ }

.marginButton {
  margin-left: 30px; }

#taskStatistics {
  max-width: 700px; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

#assignTaskModal .modal-dialog {
  width: 900px; }

.modal-header {
  padding: 20px;
  background: #007BC1;
  border: 0; }

.modal-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 34px;
  color: #464646;
  display: inline-block;
  line-height: 55px;
  display: block;
  text-align: center; }

.modal-body .detail-info {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.modal-body .document-wrap {
  border: 2px solid #007BC1;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em; }

.modal-footer {
  background: #f1f3f5; }
  .modal-footer .btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.page-header {
  vertical-align: middle;
  margin: 15px 0;
  padding: 0;
  border-bottom: none; }
  .page-header h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 34px;
    color: #464646;
    display: inline-block;
    line-height: 55px; }

.img-avatar {
  text-align: center;
  margin-bottom: 10px; }
  .img-avatar img {
    border-radius: 50%;
    width: 215px; }

#map {
  width: 100%;
  height: 500px;
  margin: 0 auto; }

.dasboard-courier-title {
  display: block;
  width: 60%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 27px;
  margin: 2em auto 0;
  text-align: center;
  background: -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100% 0px, 100% 3px, 0px 100%, 0px 100%;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  padding-bottom: 7.5px; }

.dasboard-courier-table {
  width: 60%;
  margin: 2em auto 3em; }

.button-row {
  margin-top: 1em; }

a {
  color: #007BC1; }
  a:hover, a:focus {
    text-decoration: none; }

.task-document-title {
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 21px;
  margin: 1.5em auto 1em;
  text-align: center;
  background: -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -webkit-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), -moz-linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background: linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(90deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%), linear-gradient(0deg, transparent 10%, white 10%, black 50%, white 90%, transparent 90%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100% 0px, 100% 3px, 0px 100%, 0px 100%;
  background-position: 0px 0px, 0px 100%, 0px 0px, 100% 0px;
  padding-bottom: 7.5px; }

/* fix for bootstrap hidden and visible */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline; }

#container {
  min-height: 100%;
  width: 100%;
  position: relative; }

.container-fluid {
  padding-left: 20px;
  padding-right: 20px; }

/* Header */
#header {
  min-height: 0px;
  background: #FFFFFF;
  /*border-bottom: 1px solid #E5E5E5;*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0; }
  #header .nav > li {
    float: left; }
    #header .nav > li li {
      min-width: 200px; }
  #header .navbar-header {
    min-height: 0px;
    padding: 0; }
  #header #button-menu + .navbar-brand {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    height: auto; }
  #header .nav > li > a {
    padding: 3px 16px;
    line-height: 38px;
    cursor: pointer;
    color: #6D6D6D;
    border-left: 1px solid #E1E1E1; }
    #header .nav > li > a > .label {
      text-shadow: none;
      padding: 1px 4px;
      position: absolute;
      top: 8px;
      left: 6px; }

.searchboxwrapper {
  float: left; }
  .searchboxwrapper .searchbox {
    border: 1px solid #dadada;
    outline: none;
    font: 14px 'Montserrat', sans-serif;
    color: #777;
    height: 30px;
    background: #fff;
    padding-left: 10px;
    margin: 6px;
    margin-right: 0;
    display: inline-block; }
    .searchboxwrapper .searchbox:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .searchboxwrapper .searchsubmit {
    font-family: 'FontAwesome';
    width: 30px;
    height: 28px;
    font-size: 14px;
    background: #FFF;
    border: none;
    color: #595959;
    font-weight: bold;
    cursor: hand;
    margin-left: -3px;
    cursor: pointer;
    position: relative;
    left: -31px; }

/* Mobile */
@media (max-width: 767px) {
  #header .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
    float: left; } }

#button-menu {
  padding: 10px 17px 9px 17px;
  line-height: 25px;
  float: left;
  display: inline-block;
  cursor: pointer;
  color: #6D6D6D;
  border-right: 1px solid #E1E1E1; }

#profile {
  display: none; }

#column-left.active #profile {
  display: block;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  /*border-bottom: 1px solid #585858;*/ }

#profile div {
  float: left;
  color: #C4C4C4; }
  #profile div i {
    font-size: 42px;
    color: #2ca5d3; }
  #profile div + div {
    margin-left: 15px; }

#profile h4 {
  margin-top: 6px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 0; }

#profile h1 {
  text-align: center;
  font-weight: 600; }
  #profile h1 > a {
    color: #C4C4C4; }

#column-left {
  width: 50px;
  height: 100%;
  background-color: #061220;
  background-repeat: no-repeat;
  background-image: url(../img/sidenav-dark.jpg);
  position: absolute;
  top: 0px;
  z-index: 1001;
  transition: all 0.3s;
  -webkit-box-shadow: 6px 0px 10px 2px rgba(0, 0, 0, 0.3); }
  #column-left.active {
    width: 235px;
    display: block; }
  #column-left::-webkit-scrollbar {
    display: none; }

#content {
  transition: all 0.3s; }

#column-left + #content {
  margin-left: 50px; }
  #column-left + #content + #footer {
    margin-left: 50px; }

/* Mobile */
@media (max-width: 767px) {
  #column-left {
    overflow: hidden;
    display: none; }
    #column-left + #content {
      margin-left: 0; }
      #column-left + #content + #footer {
        margin-left: 0; } }

/* Menu */
#menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px; }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  #menu li {
    padding: 0;
    margin: 0;
    list-style: none; }
    #menu li a {
      text-decoration: none;
      display: block;
      padding: 10px;
      cursor: pointer;
      /*border-bottom: 1px solid #515151;*/ }
      #menu li a i {
        font-size: 16px; }
    #menu li li a {
      color: #9d9d9d; }
      #menu li li a:hover {
        color: #FFFFFF;
        background-color: #373737; }
      #menu li li a:before {
        content: "\f101";
        font-size: 14px;
        font-family: FontAwesome;
        margin-left: 10px;
        margin-right: 10px;
        transition: margin ease 0.5s; }
      #menu li li a:hover:before {
        margin-right: 20px; }
    #menu li.active li a {
      color: #C4C4C4; }
    #menu li li.active > a:last-child {
      color: #FFFFFF; }
    #menu li li.active a:last-child:before {
      margin-left: 20px;
      margin-right: 10px; }
    #menu li ul {
      overflow: hidden; }
    #menu li li a.parent:after {
      font-family: FontAwesome;
      content: "\f105";
      float: right;
      margin-right: 8px; }
  #menu > li {
    position: relative; }
  #menu > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px;
    /*border-bottom: 1px solid #585858;*/ }
    #menu > li > a:hover {
      background-color: #444444; }
    #menu > li > a > span {
      display: none;
      margin-left: 8px; }
  #menu > li.active > a {
    color: #DDDDDD;
    background: #373737; }
  #menu > li > ul {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 210px;
    background-color: #515151;
    visibility: hidden; }
  #menu > li:hover > ul {
    visibility: visible; }

#column-left.active #menu > li a.parent:after {
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  margin-right: 8px; }

#menu li li.open > a.parent:after {
  font-family: FontAwesome;
  content: "\f107";
  float: right;
  margin-right: 8px; }

#column-left.active #menu > li.open > a.parent:after, #column-left.active #menu > li li.open > a.parent:after {
  font-family: FontAwesome;
  content: "\f107";
  float: right;
  margin-right: 8px; }

#menu li ul a {
  padding-left: 20px; }

#menu li li ul a {
  padding-left: 40px; }

#menu li li li ul a {
  padding-left: 60px; }

#menu li li li li ul a {
  padding-left: 80px; }

/* Menu Active */
/* Desktop */
@media (min-width: 768px) {
  #column-left.active {
    overflow: auto; }
    #column-left.active + #content {
      margin-left: 235px; }
      #column-left.active + #content + #footer {
        margin-left: 235px; } }

/* Mobile */
@media (max-width: 767px) {
  #column-left.active + #content {
    position: relative;
    left: 235px; }
    #column-left.active + #content + #footer {
      position: relative;
      left: 235px; } }

#column-left.active {
  width: 235px; }
  #column-left.active #menu li i {
    font-size: 14px; }
  #column-left.active #menu > li > a > span {
    display: inline; }
  #column-left.active #menu > li > ul {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    visibility: visible; }

/* footer */
#footer {
  height: 100px;
  text-align: center;
  padding-top: 2.5em; }

/* Panels */
.panel {
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .panel .panel-heading {
    position: relative; }

.panel-heading h3 i {
  margin-right: 8px;
  -webkit-tap-highlight-color: transparent; }

.panel-heading h3, .panel-heading i {
  font-size: 21px;
  font-weight: bold;
  display: inline-block; }

.panel-heading h3 {
  font-family: Montserrat; }

/* Primary Panel */
.panel-primary {
  border: 1px solid #c3e4f6;
  border-top: 2px solid #5cb7e7; }
  .panel-primary .panel-heading {
    color: #1e91cf;
    border-color: #96d0f0;
    background: white; }

/* Default Panel */
.panel-default {
  border: 1px solid #e8e8e8; }
  .panel-default .panel-heading {
    color: #595959;
    border-color: #e8e8e8;
    background: #fcfcfc; }

.img-thumbnail i {
  color: #FFFFFF;
  background-color: #EEEEEE;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  vertical-align: middle;
  display: inline-block; }

.img-thumbnail.list i {
  width: 40px;
  height: 40px;
  padding-top: 10px; }

/* Menu Fix For System -> Layout -> Banner */
.collapse {
  display: none;
  visibility: unset; }
  .collapse.in {
    display: block;
    visibility: unset; }

.box-container {
  /*border :5px solid #868686;*/
  margin: 15px 20px; }

/* Form style */
.required .control-label:before {
  content: '* ';
  color: #D34646;
  font-weight: bold; }

#other-task-type {
  margin-top: 5px; }

.text-danger {
  color: #D34646; }

.form-group.required .noInput {
  border: 1px solid #D34646; }

/*Button style */
.btn {
  border-radius: 3px;
  height: 36px;
  padding: 0 15px; }

.btn.btn-primary {
  color: #ffffff;
  background: #FF7817;
  border-color: #FF7817; }
  .btn.btn-primary:focus, .btn.btn-primary:hover, .btn.btn-primary:active {
    background: #eb6403; }

.btn.btn-secondary {
  color: #ffffff;
  background: #1E70B7;
  border-color: #1E70B7; }
  .btn.btn-secondary:focus, .btn.btn-secondary:hover, .btn.btn-secondary:active {
    background: #0a5ca3; }

.btn.btn-danger {
  color: #ffffff;
  background: #D34646;
  border-color: #D34646; }
  .btn.btn-danger:focus, .btn.btn-danger:hover, .btn.btn-danger:active {
    background: #D34646; }

.action-button {
  text-align: center; }
  .action-button .btn {
    border-radius: 3px;
    height: 36px;
    padding: 0 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .action-button .btn > i {
      color: white; }

.input-group.datetime .input-group-btn button {
  height: 34px; }

/* Breadcrumb */
.breadcrumb {
  display: inline-block;
  background: none;
  margin: 0;
  padding: 0 10px; }
  .breadcrumb li a {
    color: #999999;
    font-size: 11px;
    padding: 0px;
    margin: 0px; }
  .breadcrumb li:last-child a {
    color: #1e91cf; }
  .breadcrumb li a:hover {
    text-decoration: none; }
  .breadcrumb li + li:before {
    content: "/";
    font-family: FontAwesome;
    color: #BBBBBB;
    padding: 0 5px; }

/* x0p alert */
.x0p {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .x0p.default .button-error {
    background-color: #D34646 !important; }
  .x0p.default .button-info {
    background-color: #007BC1 !important; }

.xi-error span::before {
  background-color: #D34646 !important; }

.xi-warning span::before {
  background-color: #F1751b !important; }

/* statsistic selector */
.statistic-selector input, .statistic-selector select {
  height: 34px;
  padding: 5px 10px; }

.statistic-selector select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px; }

.select {
  position: relative; }
  .select:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: 7px;
    width: 14px;
    color: #1E70B7; }
